@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  /* background-color: rgba(43, 37, 35, 0.877); */
  font-family: "Kanit", sans-serif;
}

.container {
  width: 90%;
  text-align: center;
  margin: 1em auto 1em auto;
  color: #701d02;
  min-width: 390px;
}
nav {
  width: 90%;
  margin: 1em auto 1em auto;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
  background-color: #fef7e2;
  border-radius: 92px;
  margin-bottom: 3em;
}
button img {
  width: 46px;
  margin-right: 0.5em;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image {
  width: 100%;
  border-radius: 75px 75px 0 0;
}
.image1 {
  width: 100%;
}
.button1 {
  border: none;
  font-size: 1em;
  font-weight: 700;
  width: 130px;
  height: 50px;
  color: #701d02;
  border-radius: 50px;
  background-color: #ffdf7f;

  justify-content: center;
  align-items: center;
}
.circle {
  font-size: 2em;
  width: 260px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  font-weight: 600;
}
div > img + div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  margin: 1em 1em;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fef7e2;
  border-radius: 80px;
  align-items: inherit;
  width: 351px;
}
h1 + div > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#cart {
  /* margin-left: 23%; */
  margin-bottom: 1em;
  height: 2.3em;
  width: 11em;
}
span {
  font-weight: 400;
  font-size: 0.8em;
}
img + div > p {
  font-size: 1.1em;
  font-weight: 600;
  margin-right: 3em;
}
img + div > p + p {
  font-size: 1.1em;
  font-weight: 400;
  margin-right: 3em;
}
h2 {
  font-size: 1.6em;
  margin: 1.4em 0;
  font-weight: 500;
}
h3 {
  font-size: 1.3em;
  font-weight: 500;
  margin: 1em 0;
}
.article {
  text-align: initial;
  padding: 2em;
  background-color: #fef7e2;
}
.article p {
  margin-bottom: 2em;
  font-weight: 200;
}
@media screen and (min-width: 400px) {
  .products {
    flex-wrap: wrap;
  }

  .box {
    display: flex;
    flex-direction: column;
  }
  nav {
    flex-direction: row;
  }
  .box:first-of-type {
    order: 1;
  }
  .box:nth-of-type(1) {
    order: 3;
  }
  .circle {
    order: 2;
    font-size: 2.9em;
    padding: 1.4em 1em;
  }
  nav {
    border-radius: 0;
    justify-content: center;
  }
  .button1 {
    margin: 5px 5px;
  }
  nav {
    width: 100%;
    border-radius: 0;
    margin: top 0;
  }
}
@media screen and (min-width: 800px) {
  .products {
    flex-wrap: wrap;
  }

  .box {
    display: flex;
    flex-direction: row;
  }
  nav {
    flex-direction: row;
  }
  .box:first-of-type {
    order: 1;
  }
  .box:nth-of-type(1) {
    order: 3;
  }
  .circle {
    order: 2;
    font-size: 2.9em;
    padding: 1.4em 1em;
  }
  nav {
    border-radius: 0;
    justify-content: center;
  }
  .button1 {
    margin: 0 5px;
  }
  nav {
    width: 100%;
    border-radius: 0;
    margin: top 0;
  }
}
@media screen and (min-width: 1100px) {
  nav {
    flex-direction: column;
  }

  .circle {
    order: 4;
  }

  .full {
    display: flex;
  }
  header {
    background-color: #fef7e2;
  }
  .article {
    margin: 0 2em;
    border-radius: 50px;
    font-size: 1.4em;
    line-height: 35px;
  }

  .box {
    flex-direction: column;
  }
  nav {
    flex-direction: column-reverse;
  }
  h2 {
    font-size: 4em;
    text-align: start;
    margin: 1em;
  }
  
  .circle {
    margin-top: 12.2em;
    height: 150px;
    font-size: 3em;
    width: 280px;
    border-radius: 95px;
  }
  .box > .button1{
    height: 150px;
    font-size: 2em;
    width: 280px;
    border-radius: 95px;
    margin-top: 25px;
  }
}
